[include fluidd.cfg]

[include macros/*.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_sam3x8e_203120514D324C543235303139303231-if00
baud: 250000
restart_method: command

[virtual_sdcard]
path: /home/dietpi/xyzdavinci2aduo_data/gcodes
on_error_gcode: CANCEL_PRINT

# witdth 150mm
# depth 198mm
# height 198mm
[bed_screws]
screw1: 18, 29
screw2: 157, 29
screw3: 88,139

[force_move]
enable_force_move: false

[gcode_arcs]
resolution: 0.1

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 1000
max_z_velocity: 5
max_z_accel: 100

[pause_resume]
recover_velocity: 50.

[display_status]

[stepper_x] # 150mm
step_pin: PD5
dir_pin: PD4	
enable_pin: !PD6
microsteps: 16 # number of microstep 16, 32
rotation_distance: 40
endstop_pin: ^PD7
position_endstop: 170
position_max: 170
position_min: -30
homing_speed: 50

[stepper_y] # 198mm
step_pin: PD9
dir_pin: !PD8
enable_pin: !PA0
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA1
position_endstop: 204
position_min: -3
position_max: 204
homing_speed: 50

[stepper_z] # 198mm
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB5
full_steps_per_rotation: 200
microsteps: 16
rotation_distance:1.25
endstop_pin: PB22
#position_endstop: 0
position_max: 198
position_min: -1
homing_speed: 5

[safe_z_home]
home_xy_position: 75, 99 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 10
move_to_previous: false

[gcode_macro UNSAFE_MOVE_Z]
description: Move the Z without homing
gcode:
    {% set MOVE_MM = params.MM|default(-30)|float * (-1) %}
    G90
    SET_KINEMATIC_POSITION Z={MOVE_MM}
    G0 Z0 F600

[firmware_retraction]
retract_length: 0
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
#retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.


# R2 is pullup
# R1 is inline
# VREF = 3.3V
# Hotend 1.0A
# R1 =open
# R2 = 1k
# Hotend 1.0
# R1(R29)= 1K
# R2(R27)= 1.5K
# heated bed
# R1(R30)= open
# R2(R28)= 47K
# VREF ---- R2 ---+--- Termistor ---+-- GND
#                 |                 |
#                 +------ R1 -------+
#                 |                 |
#                 +---- Capacitor --+
#                 |
#                 V measured

# screw it, measure everything
[adc_temperature SEMITEC_104_GT2_ADC]
temperature1: 320
voltage1:0.28672
temperature2: 310
voltage2:0.299008
temperature3: 300
voltage3:0.306823168
temperature4: 295
voltage4:0.34420736
temperature5: 287
voltage5:0.382345216
temperature6: 285
voltage6:0.392347648
temperature7: 276
voltage7:0.434229248
temperature8: 272
voltage8:0.448610304
temperature9: 268
voltage9:0.480866304
temperature10: 262
voltage10:0.508997632
temperature11: 256
voltage11:0.537505792
temperature12: 253
voltage12:0.565248
temperature13: 246
voltage13:0.622592
temperature14: 242
voltage14:0.657534976
temperature15: 236
voltage15:0.723427328
temperature16: 234
voltage16:0.744681472
temperature17: 225
voltage17:0.835330048
temperature18: 220
voltage18:0.910471168
temperature19: 213
voltage19:1.000493056
temperature20: 208
voltage20:1.091141632
temperature21: 202
voltage21:1.18941696
temperature22: 197
voltage22:1.26681088
temperature23: 190
voltage23:1.400590336
temperature24: 184
voltage24:1.511993344
temperature25: 178
voltage25:1.631399936
temperature26: 172
voltage26:1.748426752
temperature27: 168
voltage27:1.867206656
temperature28: 163
voltage28:1.99798784
temperature29: 159
voltage29:2.109390848
temperature30: 153
voltage30:2.235170816
temperature31: 149
voltage31:2.347323392
temperature32: 143
voltage32:2.4813568
temperature33: 137
voltage33:2.610388992
temperature34: 132
voltage34:2.730917888
temperature35: 127
voltage35:2.864447488
temperature36: 122
voltage36:2.97910272
temperature37: 115
voltage37:3.13344
temperature38: 110
voltage38:3.246542848
temperature39: 103
voltage39:3.366445056
temperature40: 96
voltage40:3.479601152
temperature41: 91
voltage41:3.55661824
temperature42: 85
voltage42:3.609505792
temperature43: 81
voltage43:3.670646784
temperature44: 76
voltage44:3.733409792
temperature45: 70
voltage45:3.797925888
temperature46: 63
voltage46:3.870445568
temperature47: 55
voltage47:3.936710656
temperature48: 47
voltage48:3.983347712
temperature49: 43
voltage49:4.009984
temperature50: 35
voltage50:4.042752
temperature51: 30
voltage51:4.063232
temperature52: 23
voltage52:4.0736617812
temperature53: 22
voltage53:4.0743492268
temperature54: 20
voltage54:4.0783080108
temperature55: 19
voltage55:4.079964672
temperature56: 10
voltage56:4.08
temperature57: 0
voltage57:4.084
temperature58: -10
voltage58:4.0889999999
temperature59: -20
voltage59:4.092

[extruder]
step_pin: PB7
dir_pin: PB6
enable_pin: !PB8
microsteps: 16
rotation_distance: 32.8468
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA13
sensor_type: SEMITEC_104_GT2_ADC #ATC Semitec 104GT-2
adc_voltage: 4.096
# pullup_resistor: 1000  # 1.0A is 1k 1.0 is 4.7k with a 10k inline
# inline_resistor: 1000 # 1.0A is 0 1.0 is 10k
sensor_pin: PB20
smooth_time: 2.0
#control: pid
#pid_Kp=34.011 
#pid_Ki=1.631 
#pid_Kd=177.284
pwm_cycle_time: 0.0100
min_temp: -50 # set to 3 when working
max_temp: 300 # the semitec sensor is only good to 300c
min_extrude_temp: 170
pressure_advance = 0.0558
max_extrude_only_distance: 150.0

# Script to change back to the main extruder
[gcode_macro T0]
gcode:
    SET_GCODE_OFFSET X=0                        # Clear X offset
    ACTIVATE_EXTRUDER EXTRUDER=extruder

[extruder1]
step_pin: PB14
dir_pin: !PC28
enable_pin: !PB9
microsteps: 16
rotation_distance: 32.8080
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB12
sensor_type: SEMITEC_104_GT2_ADC #ATC Semitec 104GT-2
adc_voltage: 4.096
# pullup_resistor: 1000  # 1.0A is 1k 1.0 is 4.7k with a 10k inline
# inline_resistor: 1000 # 1.0A is 0 1.0 is 10k
sensor_pin: PB13
smooth_time: 2.0
#control: pid
#pid_Kp=34.011 
#pid_Ki=1.631 
#pid_Kd=177.284
pwm_cycle_time: 0.0100
min_temp: -50 # set to 3 when working
max_temp: 300 # the semitec sensor is only good to 300c
min_extrude_temp: 170
pressure_advance = 0.0558
max_extrude_only_distance: 150.0

# Script to activate second extruder
[gcode_macro T1]
gcode:
    SET_GCODE_OFFSET X=35.5                        # Account for different X offset
    ACTIVATE_EXTRUDER EXTRUDER=extruder1

[adc_temperature DAVINCI_BED_ADC]
temperature1: 120
voltage1:1.2674138112000002
temperature2: 115
voltage2:1.3106068992000002
temperature3: 110
voltage3:1.3806927872
temperature4: 105
voltage4:1.4735119872
temperature5: 100
voltage5:1.5851520000000001
temperature6: 95
voltage6:1.7119473152
temperature7: 90
voltage7:1.8504794112
temperature8: 85
voltage8:1.9975767552
temperature9: 80
voltage9:2.1503148032
temperature10: 75
voltage10:2.306016
temperature11: 70
voltage11:2.4622497792
temperature12: 65
voltage12:2.6168325632
temperature13: 60
voltage13:2.7678277632
temperature14: 55
voltage14:2.9135457792
temperature15: 50
voltage15:3.052544
temperature16: 45
voltage16:3.1836268031999997
temperature17: 40
voltage17:3.3058455552
temperature18: 35
voltage18:3.4184986112000004
temperature19: 30
voltage19:3.5211313152
temperature20: 25
voltage20:3.6135360000000003
temperature21: 20
voltage21:3.6957519872
temperature22: 15
voltage22:3.7680655872
temperature23: 10
voltage23:3.8310100992
temperature24: 5
voltage24:3.8853658112
temperature25: 0
voltage25:3.93216

[heater_bed]
heater_pin: PB16
sensor_type: DAVINCI_BED_ADC
sensor_pin: PB21
#control: watermark
adc_voltage: 4.096
smooth_time: 2.0
# control: pid
# pid_Kp=62.989 
# pid_Ki=0.630 
# pid_Kd=1575.501
pwm_cycle_time: 0.0100
min_temp: -100
max_temp: 130

[verify_heater heater_bed] 
check_gain_time: 5000
heating_gain: 1

[output_pin buzz]
pin: PB15
pwm: True
shutdown_value: 0
cycle_time: 0.001
scale: 1

[static_digital_output amber_led]
pins: !PB27

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu

[controller_fan system_fan]
pin: PC26
hardware_pwm: True
kick_start_time: 1.0
max_power: 1.0
idle_timeout: 300
idle_speed: 0.5
shutdown_speed: 1.0
heater: heater_bed, extruder1

[heater_fan hotend_fan]
pin: PD0
heater: extruder
heater_temp: 50.0
kick_start_time: 0.200

[fan ]
pin: PB11
kick_start_time: 0.200

[filament_switch_sensor Top_Cover]
switch_pin: PC24
pause_on_runout: False # good to have, but disabled for now

[output_pin Case_Light]
pin: PA12
value: 1

[output_pin LCD_Light]
pin: PB23
value: 1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.751
#*# pid_ki = 1.710
#*# pid_kd = 129.418
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 55.877
#*# pid_ki = 3.356
#*# pid_kd = 232.587
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 28.794
#*# pid_ki = 1.613
#*# pid_kd = 128.491
#*#
#*# [stepper_z]
#*# position_endstop = -0.061
