[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER1_TEMP = params.EXTRUDER1_TEMP|default(200)|float %}
    {% set EXTRUDER2_TEMP = params.EXTRUDER2_TEMP|default(200)|float %}

    # Home the printer
    G28

    # Heat the bed 
    M140 S{BED_TEMP}

    # Heat extruder 1
    M104 T0 S{EXTRUDER1_TEMP}
    
    # Heat extruder 2  
    M104 T1 S{EXTRUDER2_TEMP}

    # Wait for everything to reach temp
    M190 S{BED_TEMP}
    M109 T0 S{EXTRUDER1_TEMP}
    M109 T1 S{EXTRUDER2_TEMP}

    # Prime the extruders
    T0
    G92 E0
    G1 X10 Y10 Z0.3 F3000
    G1 X60 E10 F600 ; Extrude 10mm filament at a slower speed
    G1 E-1 F1800 ; Retract slightly
    G92 E0
    
    T1 
    G92 E0
    G1 X90 Y10 Z0.3 F3000
    G1 X130 E10 F600 ; Extrude 10mm filament at a slower speed
    G1 E-1 F1800 ; Retract slightly
    G92 E0

    # Move to start position
    G1 X5 Y5 Z10 F3000

[gcode_macro END_PRINT]
gcode:
    # Get parameters for safe Z height and park position
    {% set Z_SAFE = params.Z_SAFE|default(198)|float %}
    {% set X_PARK = params.X_PARK|default(0)|float %}
    {% set Y_PARK = params.Y_PARK|default(0)|float %}

    # Turn off bed, extruders, and fan
    M140 S0
    M104 T0 S0
    M104 T1 S0
    M106 S0

    # Raise nozzle by Z_SAFE mm
    G91
    G1 Z{Z_SAFE} F3000
    G90

    # Park the print head
    G1 X{X_PARK} Y{Y_PARK} F3000

    # Disable steppers
    M84

    # Beep to indicate print has stopped (if your printer has a beeper)
    M300 S440 P200
    M300 S660 P250

    # Display message on LCD (if your printer has one)
    M117 Print stopped